{% extends "home.html" %}

{% block content %}
  <h2>Activity Logs</h2>

  {% for log in logs %}
    <div class="log-entry">
      <p><strong>{{ log.activity_description }}</strong> - {{ log.timestamp }}</p>
      
      {% if log.old_values %}
        <p><em>Old Values:</em></p>
        <ul>
          {% for field, value in log.old_values.items %}
            <li><strong>{{ field|capfirst }}:</strong> {{ value }}</li>
          {% endfor %}
        </ul>
      {% endif %}

    </div>
    <hr>
  {% endfor %}
{% endblock %}
